/* Main colors */
.jumbotron {
  margin-top: 20px;
  margin-bottom: 20px; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px; }

ul {
  list-style: none;
  padding: 0; }

.main-title {
  color: #ccc1;
  margin-bottom: 2rem; }

.container h3 {
  color: #555555;
  padding-left: 2px;
  padding-right: 2px; }

.main-list h5 {
  font-size: 22px; }

.main-list p {
  font-size: 14px; }

.container h5:hover {
  color: #b9a7ff;
  cursor: pointer; }

.btn-primary {
  background-color: #b9a7ff;
  border-color: #b9a7ff; }

.btn-primary:hover {
  color: #fff;
  background-color: #ccc1;
  border-color: #ccc1; }

.footer {
  background-color: #ccc1;
  color: #fff;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 5px; }

.footer-item {
  font-size: 20px; }

.footer-item li {
  font-size: 14px; }

.footer .copyright {
  font-size: 12px;
  text-align: center; }

.footer .description-site {
  font-size: 12px; }
