/* Main colors */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}
ul {
  list-style: none;
  padding: 0;
}
.main-title {
  color: #4d4ccb;
  margin-bottom: 2rem;
}
.container h3 {
  color: #555555;
}
.main-list h5 {
  font-size: 22px;
}
.main-list p {
  font-size: 14px;
}
.container h5:hover {
  color: #b9a7ff;
  cursor: pointer;
}
.btn-primary {
  background-color: #b9a7ff;
  border-color: #b9a7ff;
}
.btn-primary:hover {
  color: #fff;
  background-color: #4d4ccb;
  border-color: #4d4ccb;
}
.footer {
  background-color: #4d4ccb;
  color: #fff;
  font-weight: 600;
}
.footer-item {
  font-size: 20px;
}
.footer-item li {
  font-size: 14px;
}
.footer .copyright {
  font-size: 12px;
  text-align: center;
}
.footer .description-site {
  font-size: 12px;
}
